################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplicationPL/bin/Debug/Logs/Log.Error.txt
