@{
    ViewBag.Title = "Contact";
}

<address>
    Dzerzhinsky Avenue 95<br/>
    Minsk<br/>
    <abbr title="Phone">P:</abbr> (+375) 298070096
</address>
<hr />
<address>
    <strong>Support: </strong>   <a href="mailto:Boikoandrei1996@gmail.com">BoikoAndrei1996@gmail.com</a><br />
    <strong>Marketing: </strong> <a href="mailto:Boikoandrei1996@gmail.com">BoikoAndrei1996@gmail.com</a>
</address>